<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Dashboard</h1>
        <p class="lead text-muted">Welcome {{ userDetails.name }}</p>
      </div>
      <app-dashboard-actions></app-dashboard-actions>
      <app-display-exp></app-display-exp>
      <app-display-edu></app-display-edu>
      <div style="margin-bottom: 60px">
        <button class="btn btn-danger">Delete My Account</button>
      </div>
    </div>
  </div>
</div>
